.navbar-nav .nav-item {
    padding: 0rem 1rem;
    font-weight: 500;
 }
 .nav-item a{
     color: rgb(255, 255, 255);
 }
 .app-name {
     margin-right: 2rem;
     color: rgb(255, 255, 255);
     font-weight: 700;
 
 }

 .navbar  {
   background-color: #7860c0; /* Use the same blue as the table header */
   color: white; /* White text on the blue background for contrast */
 }

 .active{
    background-color: rgb(221, 215, 204);
    border-radius: 0.2rem;
 }
 
 .offcanvas{
    width: 95%;
    background-color: #7860c0;
 }

 .sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }