/* Custom table styles */
.custom-table {
  width: 100%;
  margin-top: 20px;
}

.header-cell {
  background-color:#8365c9;
  color: white;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 10px; 
  text-align: center;
}




  